* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v209_1690 {
  width: 100%;
  height: 3913px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v209_1864 {
  width: 100%;
  height: 3933px;
  background: url("../images/v209_1864.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v209_1692 {
  width: 100%;
  height: 100%;
  background: rgba(245,242,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v209_1891 {
  width: 100%;
  height: 2910px;
  background: url("../images/v209_1891.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1899px;
  left: 482px;
  overflow: hidden;
}
.v209_1895 {
  width: 100%;
  height: 2910px;
  background: url("../images/v209_1895.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v209_1892 {
  width: 100%;
  height: 100%;
  background: url("../images/v209_1892.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 2418px;
  overflow: hidden;
}
.v209_1865 {
  width: 100%;
  height: 125px;
  background: rgba(255,255,255,1);
  margin: 89px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v209_1866 {
  width: 254px;
  height: 69px;
  background: url("../images/v209_1866.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 163px;
  overflow: hidden;
}
.v209_1867 {
  width: 234px;
  color: rgba(77,77,77,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v209_1868 {
  width: 397px;
  height: 47px;
  background: rgba(255,255,255,1);
  padding: 15px 20px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 506px;
  overflow: hidden;
}
.v209_2004 {
  width: 17px;
  height: 17px;
  background: url("../images/v209_2004.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 20px;
  overflow: hidden;
}
.v209_1885 {
  width: 73px;
  height: 13px;
  background: url("../images/v209_1885.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 49px;
  overflow: hidden;
}
.v209_1874 {
  width: 53px;
  color: rgba(112,105,103,1);
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: SF Pro Display;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v209_1875 {
  width: 489px;
  height: 24px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 992px;
  overflow: hidden;
}
.v209_1876 {
  width: 489px;
  color: rgba(76,68,65,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: SF Pro Display;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v209_1877 {
  width: 187px;
  height: 44px;
  background: rgba(74,27,193,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 1570px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v209_2005 {
  width: 50px;
  height: 51px;
  background: url("../images/v209_2005.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
  overflow: hidden;
}
.v209_1882 {
  width: 131px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 56px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v209_1888 {
  width: 100%;
  height: 61px;
  background: rgba(215,199,255,1);
  padding: 9px 580px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 1px;
  overflow: hidden;
}
.v209_1890 {
  width: 760px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 580px;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v209_2009 {
  width: 100%;
  height: 270px;
  background: url("../images/v209_2009.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 258px;
  left: 82px;
  overflow: hidden;
}
.v209_2003 {
  width: 100%;
  height: 250px;
  background: url("../images/v209_2003.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v209_1899 {
  width: 432px;
  height: 44px;
  background: url("../images/v209_1899.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 589px;
  left: 744px;
  overflow: hidden;
}
.v209_1900 {
  width: 412px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: SF Pro Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v209_1901 {
  width: 100%;
  height: 150px;
  background: url("../images/v209_1901.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 663px;
  left: 443px;
  overflow: hidden;
}
.v209_1902 {
  width: 500px;
  height: 150px;
  background: rgba(217,90,18,1);
  padding: 6px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v209_1903 {
  width: 411px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 51px;
  left: 45px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v209_1904 {
  width: 500px;
  height: 150px;
  background: rgba(255,255,255,0.6000000238418579);
  padding: 18px 137px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 532px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v209_1905 {
  width: 136px;
  color: rgba(74,27,193,1);
  position: absolute;
  top: 63px;
  left: 182px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v209_1906 {
  width: 100%;
  height: 185px;
  background: rgba(74,27,193,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 979px;
  left: 0px;
  overflow: hidden;
}
.v209_1907 {
  width: 769px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 64px;
  left: 576px;
  font-family: SF Pro Display;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v209_1908 {
  width: 597px;
  height: 77px;
  background: url("../images/v209_1908.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1227px;
  left: 215px;
  overflow: hidden;
}
.v209_1909 {
  width: 577px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: SF Pro Display;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v209_1910 {
  width: 816px;
  height: 802px;
  background: rgba(255,255,255,1);
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 1359px;
  left: 226px;
  overflow: hidden;
}
.v209_1911 {
  width: 702px;
  height: 702px;
  background: url("../images/v209_1911.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 57px;
  overflow: hidden;
}
.v209_1912 {
  width: 682px;
  height: 682px;
  background: url("../images/v209_1912.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v209_1913 {
  width: 816px;
  height: 89px;
  background: rgba(239,239,239,1);
  margin: 501px;
  opacity: 1;
  position: absolute;
  top: 713px;
  left: 0px;
  overflow: hidden;
}
.v209_1914 {
  width: 160px;
  height: 55px;
  background: url("../images/v209_1914.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  overflow: hidden;
}
.v209_1915 {
  width: 160px;
  color: rgba(76,68,65,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v209_1916 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v209_2001 {
  width: 123px;
  height: 39px;
  background: url("../images/v209_2001.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 677px;
  overflow: hidden;
}
.v209_1933 {
  width: 602px;
  height: 391px;
  background: url("../images/v209_1933.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 1360px;
  left: 1094px;
  overflow: hidden;
}
.v209_1934 {
  width: 391px;
  height: 276px;
  background: url("../images/v209_1934.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 0px;
  transform: rotate(-89deg);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v209_1935 {
  width: 276px;
  height: 46px;
  background: rgba(255,255,255,1);
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}
.v209_1936 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 13px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v209_1937 {
  width: 156px;
  color: rgba(76,68,65,1);
  position: absolute;
  top: 11px;
  left: 134px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v209_1938 {
  width: 276px;
  height: 345px;
  background: url("../images/v209_1938.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 0px;
  overflow: hidden;
}
.v209_1939 {
  width: 391px;
  height: 276px;
  background: url("../images/v209_1939.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 326px;
  transform: rotate(-89deg);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v209_1940 {
  width: 276px;
  height: 46px;
  background: rgba(255,255,255,1);
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}
.v209_1941 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 13px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v209_1942 {
  width: 156px;
  color: rgba(76,68,65,1);
  position: absolute;
  top: 11px;
  left: 134px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v209_1943 {
  width: 276px;
  height: 345px;
  background: url("../images/v209_1943.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 0px;
  overflow: hidden;
}
.v209_1944 {
  width: 602px;
  height: 391px;
  background: url("../images/v209_1944.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 1765px;
  left: 1094px;
  overflow: hidden;
}
.v209_1945 {
  width: 391px;
  height: 276px;
  background: url("../images/v209_1945.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 0px;
  transform: rotate(-89deg);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v209_1946 {
  width: 276px;
  height: 46px;
  background: rgba(255,255,255,1);
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}
.v209_1947 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 13px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v209_1948 {
  width: 156px;
  color: rgba(76,68,65,1);
  position: absolute;
  top: 11px;
  left: 134px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v209_1949 {
  width: 276px;
  height: 345px;
  background: url("../images/v209_1949.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 0px;
  overflow: hidden;
}
.v209_1950 {
  width: 391px;
  height: 276px;
  background: url("../images/v209_1950.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 326px;
  transform: rotate(-89deg);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v209_1951 {
  width: 276px;
  height: 46px;
  background: rgba(255,255,255,1);
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}
.v209_1952 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 13px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v209_1953 {
  width: 156px;
  color: rgba(76,68,65,1);
  position: absolute;
  top: 11px;
  left: 134px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v209_1954 {
  width: 276px;
  height: 345px;
  background: url("../images/v209_1954.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 0px;
  overflow: hidden;
}
.v209_1955 {
  width: 500px;
  height: 53px;
  background: url("../images/v209_1955.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2195px;
  left: 710px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v209_1956 {
  width: 103px;
  color: rgba(217,90,18,1);
  position: absolute;
  top: 14px;
  left: 199px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v209_2008 {
  width: 100%;
  height: 62px;
  background: url("../images/v209_2008.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2323px;
  left: 59px;
  overflow: hidden;
}
.v209_2002 {
  width: 100%;
  height: 42px;
  background: url("../images/v209_2002.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
